<h1><%=params[:from_site]%>采集报告</h1>
<p>
 已采集 <%=@count%>条
</p>
<table>
  <th>出发城市</th>
  <th>到达城市</th>
   <th>线路</th> 
   <th>timetag</th>
   
     <th>货物</th>
     <th>重量</th>
    <th>联系</th>
     <th>备注</th>
     <th>固定电话</th>
     <th>移动电话</th>
      <th>posted</th>
       <th>created_at</th>
        <th>updated_at</th>
<% @cargos.each do |cargo|%>
     <tr>
       <td><%=cargo[:fcity_name]%>-<%=cargo[:fcity_code]%></td>
        <td><%=cargo[:tcity_name]%>-<%=cargo[:tcity_code]%></td>
         <td><%=cargo[:line]%></td>
          <td><%=cargo[:timetag]%></td>
         <td><%=cargo[:cate_name]%></td>
         <td><%=cargo[:cargo_weight]%></td>
          <td><%=cargo[:contact]%></td>
           <td><%=cargo[:comments]%></td>
           <td><%=cargo[:fixphone]%></td>
           <td><%=cargo[:mobilephone]%></td>
            <td><%=cargo[:posted]%></td>
 <td><%=cargo[:created_at]%></td>
  <td><%=cargo[:updated_at]%></td>
     </tr> 
<%end%>
  </table>

<%= will_paginate @cargos ,:previous_label=>"上一页",:next_label=>"下一页"%>
 




