<h1>采集统计</h1>
<p>
  城市数量 <%=City.count%>
    货源数量 <%=Cargo.count%>
</p>
<p>http://www.56114.net.cn:8080/xinxi/</p>

<h1>Listing cargo_rules</h1>
<table>
  <tr>
    <th>Runrule</th>
     <th>Editrule</th>
     <th>Cargos</th>
      <th>Post</th>
    <th>Sitename</th>
    <th>Rulename</th>
 

    <th>Caijifreq</th>
    <th>Needpost</th>
    <th>Postfreq</th>
    <th>Failreport</th>
    <th>Remail</th>
    <th>Rphone</th>   
    <th>Totalcaiji</th>
    <th>Totalpost</th>
    <th>Today</th>
    <th>Week</th>
    <th>Mongth</th>
    <th>Year</th>
    <th>Repeat</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cargo_rules.each do |cargo_rule| %>
  <tr>
     <td><a href="/cargo_rules/run_cargo_rule/<%=cargo_rule.id%>" target="_blank" class="btn default">Run</a></td>
     <td><%= link_to 'Edit', edit_cargo_rule_path(cargo_rule) ,:class => "btn default"%></td>
    <td><a href="/cargo_rules/get_all_cargo/<%=cargo_rule.sitename%>"target="_blank"  class="btn default">Cargos</a></td>
     <td><a href="/cargo_rules/post_cargo/<%=cargo_rule.sitename%>"target="_blank"  class="btn default">Post</a></td>
    <td><%= cargo_rule.sitename %></td>
    <td><%= cargo_rule.rulename %></td>

  
    <td><%= cargo_rule.caiji_freq %></td>
    <td><%= cargo_rule.need_post %></td>
    <td><%= cargo_rule.post_freq %></td>
    <td><%= cargo_rule.fail_report %></td>
    <td><%= cargo_rule.report_email %></td>
    <td><%= cargo_rule.report_phone %></td>
   
    <td><%=Cargo.where(:from_site=>cargo_rule.sitename).count%>
    <td><%=Cargo.where(:from_site=>cargo_rule.sitename,:posted=>"yes").count%>
     <td><%=Cargo.where(:from_site=>cargo_rule.sitename,:created_at.gte=>Time.now.at_beginning_of_day).count%>
     <td><%=Cargo.where(:from_site=>cargo_rule.sitename,:created_at.gte=>Time.now.at_beginning_of_week).count%>
  <td><%=Cargo.where(:from_site=>cargo_rule.sitename,:created_at.gte=>Time.now.at_beginning_of_month).count%>
 <td><%=Cargo.where(:from_site=>cargo_rule.sitename,:created_at.gte=>Time.now.at_beginning_of_year).count%>
    <td><%= cargo_rule.repeat_count %></td>

    <td><%= link_to 'Show', cargo_rule %></td>
   
    <td><%= link_to 'Destroy', cargo_rule, confirm: 'Are you sure?', method: :delete %></td>
   
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cargo rule', new_cargo_rule_path %>
