<h1>Get  <%=params[:from_site] if params[:from_site]%> contact of caiji</h1>

<p>
  Total:  <%=@total_contact if @total_contact%>
</p>
<p> Total <%=params[:from_site] if params[:from_site]%>   contact:<%=@total_site_contact if @total_site_contact%> 
<%=(@total_site_contact/@total_contact)*100%>%
</p>

<table>
  <th>mphone</th>
  <th>fixphone</th>
      <th>email</th>
      <th>qq</th>
       <th>personalname</th>
  <%@contacts.each do |contact|%>
  <tr>
    <td><%=contact.mphone%></td>
   <td><%=contact.fixphone%></td>
    <td><%=contact.email%></td>
    <td><%=contact.QQ%></td>
    <td><%=contact.personname%></td>
  </tr>
  <%end%>
  
</table>
<%= will_paginate @contacts ,:previous_label=>"上一页",:next_label=>"下一页"%>

