<h1>Listing contact_rules</h1>
<p>
  <%all=Contact.count%>
  Total:<%=all%>
</p>
<p>mphone:<%=Contact.where(:mphone.ne=>nil).count%></p>
 <p>email:<%=Contact.where(:email.ne=>nil).count%></p>
 <p>QQ:<%=Contact.where(:QQ.ne=>nil).count%></p>
 
  <p>filtered email=<%=Email.count%>,false email=<%=Email.where(:valid=>false).count%>,true email=<%=Email.where(:valid=>true).count%></p>
  <p>filtered mphone=<%=Mphone.count%>,yidong=<%=Mphone.where(:operator=>1).count%>,liantong=<%=Mphone.where(:operator=>2).count%>
   dianxin=<%=Mphone.where(:operator=>3).count%>,other=<%=Mphone.where(:operator=>0).count%>
  </p>
  <p>
    mphone not sent=<%=Mphone.where(:scount=>nil).count%>
    mphone sent one=<%=Mphone.where(:scount=>1).count%>
  </p>
  <p>
  <ul>
    http://www.huisun.com/company/</ul>
    <ul>  http://www.56news.cn/Company/all_company.aspx</ul>
    <ul>  http://www.chinawutong.com/co/cowuliu_01/LinkUs.aspx?id=701358</ul>
    <ul>http://www.beyondnet.com.cn</ul>
    <ul>http://www.wuliu800.com/companylist.php?keyword=%E8%AF%B7%E8%BE%93%E5%85%A5%E6%9F%A5%E8%AF%A2%E4%BC%81%E4%B8%9A%E5%85%B3%E9%94%AE%E5%AD%97</ul>
  </p>
<table>
  <tr>
    <th>Run</th>
    <th>Contacts</th>
    <th>sitecount</th>
     <th>mphone</th>
      <th>email</th>
       <th>qq</th>
    <th>Sitename</th>
    <th>Rulename</th>
        <th>Lastpage</th>
    <th>Caiji freq</th>
    <th>Need post</th>
    <th>Post freq</th>
    <th>Fail report</th>
    <th>Report email</th>
    <th>Report phone</th>
    <th>Total caiji</th>
    <th>Today count</th>
    <th>Week count</th>
    <th>Mongth count</th>
    <th>Year count</th>
    <th>Repeat count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contact_rules.each do |contact_rule| %>
  <%sitecount=Contact.where(:from_site=>contact_rule.sitename).count%>
  <tr>
    <td><a  class="btn default" href="/contact_rules/run_contact_rule/<%=contact_rule.id%>" target="_blank">Run</a></td>
    <td><a  class="btn default" href="/contact_rules/get_all_contact/<%=contact_rule.sitename%>" target="_blank">Contacts</a></td>
     <td><%= sitecount %>-<%=((sitecount/all).to_f)*100%>%</td>
           <td><%= Contact.where(:mphone.ne=>nil,:from_site=>contact_rule.sitename).count %></td>
  <td><%= Contact.where(:email.ne=>nil,:from_site=>contact_rule.sitename).count %></td>
   <td><%= Contact.where(:QQ.ne=>nil,:from_site=>contact_rule.sitename).count %></td>
    <td><%= contact_rule.sitename %></td>
    <td><%= contact_rule.rulename %></td>
        <td><%= contact_rule.last_page %></td>
    <td><%= contact_rule.caiji_freq %></td>
    <td><%= contact_rule.need_post %></td>
    <td><%= contact_rule.post_freq %></td>
    <td><%= contact_rule.fail_report %></td>
    <td><%= contact_rule.report_email %></td>
    <td><%= contact_rule.report_phone %></td>


    <td><%=Contact.where(:from_site=>contact_rule.sitename).count%>
     <td><%=Contact.where(:from_site=>contact_rule.sitename,:created_at.gte=>Time.now.at_beginning_of_day).count%>
     <td><%=Contact.where(:from_site=>contact_rule.sitename,:created_at.gte=>Time.now.at_beginning_of_week).count%>
  <td><%=Contact.where(:from_site=>contact_rule.sitename,:created_at.gte=>Time.now.at_beginning_of_month).count%>
 <td><%=Contact.where(:from_site=>contact_rule.sitename,:created_at.gte=>Time.now.at_beginning_of_year).count%>
    <td><%= contact_rule.repeat_count %></td>
    <td><%= link_to 'Show', contact_rule %></td>
    <td><%= link_to 'Edit', edit_contact_rule_path(contact_rule) %></td>
    <td><%= link_to 'Destroy', contact_rule, confirm: 'Are you sure?', method: :delete %></td>
 <td><%= contact_rule.grasped_array %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact rule', new_contact_rule_path %>


